.project-properties {
    display: flex;
    flex-direction: column;

    .data-holder {
        display: flex;
        justify-content: space-between;

        .number {
            margin-left: auto;
            text-align: right;
        }

    }


}