.project-properties {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px;

    .title {
        font-weight: bold;
        text-align: center;
    }

    .data-holder {
        display: flex;
        justify-content: space-between;

        .number {
            margin-left: auto;
            text-align: right;
        }

    }

    .rewards-placeholder {
        display: flex;

        .rewards {
            display: flex;
            flex-direction: column;
            padding: 0px 2px 2px 0px;
        }
    }


}