.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .options {
    margin-left: auto;
    height: 100%;
    width:50%;
    display: flex;
    justify-content: flex-end;

        .option {
            cursor: pointer;
            padding: 10xp 15px;
        }
    }
}