.project-details {
    display: flex;
    flex-direction: column;

    .data-holder {
        display: flex;
        justify-content: space-between;
    }

    .payers {
        display: flex;
        flex-direction: column;
    }

    .payers-heading {
        text-align: center;

    }

    .payer-index {
        text-align: center;
    }
}